<launch>
	<param name="use_sim_time" value="true"/>
	
	<!--Transform PointCloud-->
	<node pkg="sadayne_pointcloud" type="sq_transform_pointcloud" name="sq_transform_pointcloud" >
		<param name="target_frame" type="string" value="centerlaser_"/>
		<remap from="/cloud" to="/nagayne_PointCloud2/fusioned" />
	</node>

	<node name="sq_laser2pointcloud" pkg="sq_lidar" type="sq_laser2pointcloud">
		<param name="fixed_frame" value="base_link" />
	</node>

	<node name="scan_to_cloud2" pkg="sq_lidar" type="sq_lidar">
		<param name="fixed_frame" value="base_link" />
		<remap from="~/scan" to="/sq_lidar/scan" />
		<remap from="~/cloud" to="/cloud" />
	</node>

	<node pkg="nagayne_pointcloud" name="unflatness_calculator" type="unflatness_calculator"/>
	
	<node pkg="nagayne_pointcloud" name="pointcloud_hub" type="pointcloud_hub"/>
	
	<!-- <include file="$(find sadayne_pointcloud)/launch/lcl.launch"/> -->
	<!-- <include file="$(find nagayne_pointcloud)/launch/lcl_.launch"/> -->
	<!-- <include file="$(find nagayne_pointcloud)/launch/nagayne_score.launch"/> -->
<!--lcl-->
	<node name="density_controll_of_pointcloud_v3"  pkg="nagayne_pointcloud" type="density_controll_of_pointcloud_v3" output="screen">
		<!-- 	save_num > scan_num	 -->
		<param name="save_num" type="int" value="5"/>
		<param name="scan_num" type="int" value="5"/>
		<!-- 	score = (a*operating_time)^b + (c*unflatness)^d	 -->
		<param name="a" type="double" value="10.0"/>
		<param name="b" type="double" value="1.0"/>
		<param name="c" type="double" value="1.0"/>
		<param name="d" type="double" value="1.0"/>
		<remap from="/nagayne_PointCloud2/fusioned" to="/cloud/tf" />
	</node>

	<!-- <include file="$(find sq_lidar)/launch/human_detection_3dlidar.launch"/> -->

	<node pkg="rosbag" name="player" type="play" args="--clock /home/amsl/bagfiles/sq2/sq_lidar/nagayne_pointcloud/stay.bag -r 1"/>

	<node pkg="rviz" name="rviz" type="rviz" args="-d /home/amsl/.rviz/nagayne_pointcloud.rviz"/>
</launch>
