<launch>
	<param name="use_sim_time" value="true"/>

	<node name="sq_laser2pointcloud" pkg="sq_lidar" type="sq_laser2pointcloud">
		<param name="fixed_frame" value="base_link" />
		<!-- <remap from="~/nagayne_LaserScan/unflatness" to="/sq_lidar/scan" /> -->
		<!-- <remap from="~/cloud" to="/cloud" /> -->
		<!-- <remap from="~/cloud" to="/cloud" /> -->
	</node>

	<node name="scan_to_cloud2" pkg="sq_lidar" type="sq_lidar">
		<param name="fixed_frame" value="base_link" />
		<remap from="~/scan" to="/sq_lidar/scan" />
		<remap from="~/cloud" to="/cloud" />
		<!-- <remap from="~/cloud" to="/cloud" /> -->
	</node>

	<node pkg="nagayne_pointcloud" name="unflatness_calculator" type="unflatness_calculator"/>
	
	<!-- <include file="$(find sadayne_pointcloud)/launch/lcl.launch"/> -->
	<!-- <include file="$(find nagayne_pointcloud)/launch/lcl_.launch"/> -->
	<include file="$(find nagayne_pointcloud)/launch/nagayne_score.launch"/>

	<!-- <include file="$(find sq_lidar)/launch/human_detection_3dlidar.launch"/> -->

	<node pkg="rosbag" name="player" type="play" args="--clock /home/amsl/bagfiles/sq2/sq_lidar/nagayne_pointcloud/stay.bag -r 1"/>

	<node pkg="rviz" name="rviz" type="rviz" args="-d /home/amsl/.rviz/nagayne_pointcloud.rviz"/>
</launch>
